python-telegram-bot[job-queue]==20.8
requests==2.32.3
python-dotenv==1.0.1
matplotlib==3.9.2
elevenlabs==1.9.0
openai==1.54.4
groq==0.13.1
google-generativeai==0.8.3
discord.py==2.4.0
edge-tts==6.1.18
apscheduler==3.10.4
tavily-python==0.5.0
fal-client==0.5.5
PyNaCl==1.5.0
psycopg2-binary==2.9.10
fastapi==0.115.5
uvicorn[standard]==0.32.1
python-multipart==0.0.17
email-validator==2.2.0
